/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 Mudassar
 */

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
     * COLORS
     */
  --lightBlack: #262626;
  --lightBlack-100: #1a1a1a;
  --black: #fff;
  --white: #fff;

  /* fonts  */

  --large-heading: 1.8rem;
  --large-height: 2.6rem;

  --body-text: 1.3rem;
  --body-height: 1.9rem;

  --small-text: 0.9rem;
  --small-height: 1.1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: auto;
}
input,
button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
}

input {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}
address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body {
  background-color: var(--white);
  color: var(--lightBlack);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 400;
}
/* components  */

.btn {
  padding: 1rem 3rem;
  max-width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
  border: 1px solid transparent;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin-inline: auto;
}

.section {
  padding-block: 70px;
  padding-inline: 1.6rem;
}

.large-heading {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  font-weight: 700;
  letter-spacing: 4px;
}
/* header  */

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  color: var(--white);
  transition: all 200ms ease-in-out;
  z-index: 1000;
}
.header .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0.9rem;
}

.header .topbar .logo span {
  font-size: var(--body-text);
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.header .topbar .logo p {
  font-size: var(--small-text);
  line-height: var(--small-height);
  text-transform: capitalize;
}
.header .navbar {
  display: none;
}
.header:hover {
  background-color: var(--white);
  color: var(--lightBlack-100);
}
.header .btn {
  background-color: var(--white);
  color: var(--lightBlack-100);
  font-size: var(--small-text);
}
.header:hover .btn {
  background-color: var(--lightBlack);
  color: var(--white);
}
.header:hover .btn-menu {
  padding: 1rem 3rem;
}
.header:hover .btn:hover {
  background-color: var(--white);
  color: var(--lightBlack-100);
  border: 1px solid var(--lightBlack-100);
}
.header .links {
  display: none;
}
.header .btn-primary {
  display: none;
}
/* banner  */

.banner {
  width: 100%;
  height: 0;
  padding-top: 56.25%;

  position: relative;
}
#myVideo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .content {
  display: none;
}
.banner .content h1 {
  color: var(--white);
  font-family: "Times New Roman", Times, serif;
}
.banner .content p {
  color: var(--white);
  font-size: var(--body-text);
  line-height: var(--body-height);
}
.banner .content .btn {
  background-color: #1a1a1a;
  font-size: var(--small-text);
  line-height: var(--small-height);
  font-weight: 700;
  padding: 1.5rem 3rem;
  border: none;
  color: var(--white);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.banner .content .btn:hover {
  background-color: #666;
}

/* projects  */

.projects .top {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-bottom: 70px;
}
.projects .top h2 {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.projects .top p {
  font-size: var(--body-text);
  line-height: var(--body-height);
  max-width: 60%;
  margin-inline: auto;
}

.projects .boxes {
  display: grid;
  gap: 4rem;
}
.projects .boxes .box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects .boxes .box .img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.projects .boxes .box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .boxes .box .content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.projects .boxes .box .content h3 {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}
.projects .boxes .box .content p {
  line-height: var(--body-height);
  font-size: var(--body-text);
}
.projects .boxes .box .content .btn-secondary {
  max-width: max-content;
  font-size: var(--small-text);
  line-height: var(--small-height);
  position: relative;
}

.projects .boxes .box .content .btn-secondary::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 1px;
  background-color: var(--lightBlack-100);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.projects .boxes .box .content .btn-secondary:hover::before {
  width: 100%;
}

/* about section  */
.about {
  background-color: #f7f7f7;
}
.about .container {
  display: grid;
}
.about .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-img img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: top;
}
.about .about-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding: 2rem;
}
.about .about-content h2 {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
}
.about .about-content p {
  line-height: var(--body-height);
  font-size: var(--body-text);
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}
.about .about-content .about-btn {
  padding: 1.5rem 4rem;
  background-color: transparent;
  color: var(--lightBlack-100);
  text-transform: uppercase;
  border: 1px solid var(--lightBlack-100);
  transition: all 100ms ease-in-out;
  max-width: max-content;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 700;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.about .about-content .about-btn:hover {
  background-color: var(--lightBlack-100);
  color: var(--white);
}

/* services  */
.services .container {
  display: grid;
  gap: 4rem;
}
.services .container .left {
  height: 100%;
  overflow: hidden;
}
.services .container .left h2 {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
.services .container .left img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.services .container .right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.services .container .right img {
  display: none;
}
.services .container .right p {
  font-size: var(--body-text);
  line-height: var(--body-height);
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--lightBlack-100);
}
.services .container .right .services-btn {
  padding: 1.5rem 4rem;
  background-color: transparent;
  color: var(--lightBlack-100);
  text-transform: uppercase;
  border: 1px solid var(--lightBlack-100);
  transition: all 100ms ease-in-out;
  max-width: max-content;
  cursor: pointer;
  font-size: var(--small-text);
  line-height: var(--small-height);
  font-weight: 700;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.services .container .right .services-btn:hover {
  background-color: var(--lightBlack-100);
  color: var(--white);
}

/* .featured */
.featured {
  width: 100%;
  height: 150vh;
  background-image: url("./assets/banner.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.featured .featured-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: grid;
  background-color: var(--white);
  padding-inline: 1rem;
  gap: 1rem;
}

.featured .featured-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured .content {
  text-align: center;
  padding-inline: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.featured .content h2 {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
.featured .content p {
  font-size: var(--body-text);
  line-height: var(--body-height);
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--lightBlack-100);
}
.featured .content .featured-btn {
  padding: 1.5rem 4rem;
  background-color: transparent;
  color: var(--lightBlack-100);
  text-transform: uppercase;
  border: 1px solid var(--lightBlack-100);
  transition: all 100ms ease-in-out;
  max-width: max-content;
  cursor: pointer;
  font-size: var(--small-text);
  line-height: var(--small-height);
  font-weight: 700;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.featured .content .featured-btn:hover {
  background-color: var(--lightBlack-100);
  color: var(--white);
}
.achievements .section-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.achievements h2 {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
}
.achievements .section-heading span {
  font-size: var(--body-text);
  line-height: var(--body-height);
  font-weight: 400;
  letter-spacing: 2px;
  color: var(--lightBlack-100);
}
.achievements .boxes {
  display: grid;
  gap: 3rem;
}
.achievements .box {
  border-left: 1px solid var(--lightBlack-100);
  padding-left: 0.5rem;
}
.achievements .boxes span {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer {
  width: 100%;
}
.footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--lightBlack);
  padding-block: 3rem;
}
.footer .footer-top h3 {
  font-size: var(--large-heading);
  line-height: var(--large-height);
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}
.footer .footer-top .connect-btn {
  padding: 1.2rem 3rem;
  background-color: transparent;
  color: var(--white);
  text-transform: uppercase;
  border: 1px solid var(--white);
  transition: all 100ms ease-in-out;
  max-width: max-content;
  cursor: pointer;
  font-size: var(--small-text);
  line-height: var(--small-height);
  font-weight: 700;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer .footer-top .connect-btn:hover {
  background-color: var(--white);
  color: var(--lightBlack);
}
.footer .footer-bottom {
  background-color: var(--lightBlack-100);
  color: var(--white);
}
.footer .footer-bottom .container {
  padding-inline: 1rem;
  padding-block: 70px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
.footer .footer-bottom .box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer .footer-bottom .box .title {
  font-size: var(--body-text);
  line-height: var(--body-height);
  line-height: 1.7rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.footer .footer-bottom .box .links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer .footer-bottom .box .links .link {
  font-size: var(--small-text);
  line-height: var(--small-height);
  font-weight: 400;
  letter-spacing: 2px;
}
.footer .copyright {
  background-color: var(--lightBlack-100);
}
.footer .copyright .container {
  padding-block: 2rem;
  max-width: 1000px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.footer .copyright .container p {
  text-align: center;
  font-size: var(--body-text);
  line-height: var(--body-height);
  font-weight: 400;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5);
}
/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media (min-width: 575px) {
  .achievements .boxes {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  .footer .copyright .container p {
    font-size: 1.1rem;
    padding-inline: 1rem;
  }
  .footer .footer-bottom .container {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .btn-menu {
    display: none;
  }
  .header .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }
  .header .links {
    display: flex;
    gap: 2rem;
  }
  .header .link-icon {
    width: 2rem;
    height: 2rem;
  }
  .header .btn-primary {
    display: block;
  }
  .header .logo {
    text-align: center;
  }
  .banner .content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
    margin-left: 3rem;
  }

  .projects .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
  .about .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
  .about .about-content {
    justify-content: space-around;
  }
  .services .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .services .container .right img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .featured .featured-content {
    all: unset;
    width: 70%;
    height: 40%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: grid;
    padding-block: 8rem;
    background-color: var(--white);
      gap: 3rem;
  }
  .footer .footer-bottom .container {
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
}

@media (min-width: 992px) {
  :root {
    --large-heading: 2.4rem;
    --large-height: 3rem;

    --body-text: 1.6rem;
    --body-height: 2.4rem;

    --small-text: 1.1rem;
    --small-height: 1.2rem;
  }

  .container {
    max-width: 960px;
  }
  .services .container{
    max-width: 800px;
    grid-template-columns: 2.5fr 1.5fr;
    gap: 10rem;
  }
  .btn{
    padding: 1.5rem 3rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
  .services .container{
    max-width: 1000px;
  }
  .projects .boxes {
    grid-template-columns: repeat(3, 1fr);
  }
  .featured .featured-content {
    grid-template-columns: 2fr 1fr;
  }
  .footer .footer-bottom .container {
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
}
@media (min-width: 1540px) {
  .container {
    max-width: 1500px;
  }
  .services .container{
    max-width:1000px;
  }
}
@media (min-width: 1980) {
  .container {
    max-width: 1900px;
  }
  .services .container{
    max-width: 1000px;
  }
}
